.lecture-target{
    padding:20px 0px;
}


.lecture-features{
    padding:20px 0px;
}


.lecture-questions{
    padding:20px 0px;
}

.lecture-description{
    padding:20px 0px;
}

.product-description-subtitle{
    font-weight: 700;
}