/* 모바일 */
#body_position{
    margin:7vh auto 0 auto;
    background-color: #fff;
    max-width:1000px;
    /* padding:0 10px; */
}


@media (min-width: 500px) {
    /* 데스크탑 */
    #body_position{
        margin:20vh auto 0 auto;
        background-color: #fff;
        max-width:1000px;
        padding:auto;
    }
}