/* 데스크탑 */
.inner1 {
    display: flex;
    height: 8vh;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fefefe;
}

.title-small {
    display: none;
}

.title-large {
    width: 100vw;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-large-wrapper {
    display: flex;
    align-items: center;
}

#header1_logo_image_for_desktop {
    height: 40px;
}

#header1_title_for_desktop {
    font-size: 22px;
    font-weight: 900;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#header1_sub_title_for_desktop {
    font-size: 15px;
    font-weight: 900;
    margin-left: 10px;
}

#header_desktop_header_line_accounts {
    display: flex;
    align-items: center;
}

#header1-desktop-after-profile-image {
    width: 25px;
    height: 25px;
    border: 1px solid #e8e8e8;
    border-radius: 100%;
    margin-left: 10px;
    vertical-align: bottom;
}

.inner2 {
    max-width: 1000px;
    margin: 0 auto;
}



/* 모바일  */
@media (max-width: 500px) {
    .inner1 {
        height: 7vh;
        /* 첫 메뉴라인 높이 */
        padding-top: 0vh;
        align-items: center;
    }

    .title-small {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        background-color: #fefefe;
        margin: 5px 20px;
    }

    .website_title {
        font-size: 20px;
        margin: 0;
        font-weight: 700;
    }

    /* 햄버거 버튼 https://frontbackend.com/css/css-hamburger-menu-icons */
    #header1-mobile-hamburger-button {
        top: 3px;
        width: 20px;
        height: 20px;
        position: relative;
        /* margin: 40px auto; */
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    #header1-mobile-hamburger-button span {
        display: block;
        position: absolute;
        height: 1.2px;
        /* 각줄 높이 - 두께 */
        width: 100%;
        background: #111111;
        border-radius: 3px;
        /* 각줄 둥근 정도 */
        opacity: 1;
        left: 0;
        /* 0.1로 살짤 돌려나와 가운데 선이 진해짐 */
        -webkit-transform: rotate(0.1deg);
        -moz-transform: rotate(0.1deg);
        -o-transform: rotate(0.1deg);
        transform: rotate(0.1deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #header1-mobile-hamburger-button span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #header1-mobile-hamburger-button span:nth-child(2) {
        top: 7px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #header1-mobile-hamburger-button span:nth-child(3) {
        top: 14px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    #header1-mobile-hamburger-button.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 1px;
        /* 좌상-우하  대각선 위치 잡기 */
        left: 8px;
        /* 좌상-우하  대각선 위치 잡기 */
    }

    #header1-mobile-hamburger-button.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    #header1-mobile-hamburger-button.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 15px;
        /* 좌하-우상  대각선 위치 잡기 */
        left: 8px;
        /* 좌하-우상  대각선 위치 잡기 */
    }

    #header1-mobile-before-profile-image{
        width: 30px;
    }

    #header1-mobile-after-profile-image{
        border: 1px solid #e8e8e8;
        border-radius: 100%;
        width:30px;
        height:30px;
    }

    .title-large {
        display: none;
    }

    .inner2 {
        position: relative;
        width: 100vw;
        z-index: 10;
        height: 93vh;
        background-color: #fff;
    }

    .toggle_off {
        position: absolute;
        left: -100vw;
    }

    .toggle_on {
        display: block;
    }
}