<!DOCTYPE html>
    <html>
        <head>
            <title>비밀번호 변경 메일</title>
            <style>
                a:hover {
                    background - color: #ddd;
                    color: #323232;
                    border-radius:10px;
                }
            </style>
        </head>
        <body>
            <div style="
                width:100%;
                height:700px;
                background-color:#f1f1f1;
                display:flex;
                align-items:center;
                justify-content:center;
            ">
                <div style="
                    margin: 50px auto;
                    max-width: 500px;
                    width: 50%;
                    height:auto;
                    padding:40px 50px;
                    background-color:#fff;
                    border: 1px solid #e8e8e8;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                ">
                    <h1 style="font-size:20px;">비밀번호 변경링크를 드립니다.</h1>
                    <div style="padding:20px 0 0 0;
                                justify-content: space-between;
                                align-items:center"
                    >
                        <div style="margin-bottom:50px;line-height:1.8;">
                            <p>아래의 버튼을 눌러 비밀번호를 바꿔주세요.</p>
                        </div>
                        <div style="display:flex; justify-content:center">
                            <a href="{{ verification_url }}"
                                style="text-decoration-line: none;
                                    color: #323232;
                                    width: auto;
                                    margin-top: auto; /* 수정: 하단에 붙이기 */
                            ">
                                <div id='password-button' style="
                                        text-align:center;
                                        border:1px solid #e8e8e8;
                                        background-color:transparent;
                                        padding:10px;
                                        border-radius: 10px;
                                        width:200px;
                                        font-weight:700;
                                ">
                                    비밀번호 바꾸기
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
