/* 모바일 */
#password-reset-wrapper{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1;
}

#password-reset-card{
    max-width: 400px;
    width:90vw;
    /* height: 500px; */
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    margin:20px;
    position: relative;
    padding: 30px;
}

#password-reset-card-title{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin : 0px 0px 30px 0px;
}

#password-reset-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px 0px 0px 0px;
}

.password-reset-input{
    margin: 8px 0px;
    width: 100%;
    display: inline-block;
    height: 20px;
    border-radius: 5px;
    border: 1.5px solid #e8e8e8;
    padding: 3px;
    color: #323232;
}

.password-reset-input::placeholder {
    color: #d3d3d3;
    font-family: 'NanumSquareRoundR', sans-serif;
}

#password-reset-button{
    margin:10px 0px 0px 0px;
    background-color: #323232;
    color: #fff;
    border-radius: 5px;
    height: 25px;
    padding: 3px;
    font-family: 'NanumSquareRoundR', sans-serif;
    width: 100%;
    border:1.5px solid #323232;
    display: inline-block;
}


/* 데스크탑 */
@media(min-width:500px){
    #password-reset-form{
        margin:35px 0px 0px 0px;
    }
}