#social-login-wrapper {
    width: 66.6%;
    /* antd의 span 16이므로 비율(16/24 = 66.6%) 따라하기 */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding:10px 0 40px 0;
    max-width: 100px;
}